<html>
<script src="/javascripts/reconnectingWebsocket.js"> </script>
<script  src = "/javascripts/TheaterMenu.js"> </script>
<link rel='stylesheet'  href='/stylesheets/Menu.css'>
<link rel='stylesheet'  href='/stylesheets/things.css'>

<head>


</head>



<body onload="load()">
<%       things.sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
%>

<header class="mainheader">
    <div id="menubutton">
        <button id = "buttonMenu"  onmousedown = "buttonMenu()"><span id="buttontext">|||</span></button>
    </div>
    <nav id = "menunav">
        <ul>
            <li><a href="Home">Home</a></li>
            <li><a href="Lights" >Lights</a></li>
            <li><a href="SmartThings" >SmartThings</a></li>
            <li><a href="Harmony">Harmony</a></li>
            <li><a href="TheaterSettings">Settings</a></li>
            <li class="active"><a href="Things">Things</a></li>
            <li><a href="./images/TheaterHelp.pdf" target="_blank">Help</a></li>
        </ul>
    </nav>
</header>
<div id = editspace>
    <edit_space>
        <label class = "label"> Please Select Item To Edit</label>
        <select id="selectedthing" onChange="thingselected(this)">
            <%for (index = 0; index < things.length; ++index) {%>
            <option value="<%=index%>">
                <%=things[index].name%>
            </option>
            <%};%>

        </select>
    </edit_space>
</div>
<div id="thinginfo">
    divstuff

</div>
</body>





</html>
<script>
    function thingselected(e){
        var x =document.getElementById("thinginfo");
        var rv = '<table>';
        for (var prop in things[e.value]){

            rv = rv +'<tr><td>'
            rv=rv+'<button type = "button"  class = "editbutton" onclick="edititem('+e.value+','
            rv=rv+"'"+prop+"'";
            rv=rv +')">Edit</button>';

//things[document.getElementById('selectedthing').value][newprop]= prompt("Enter Value")
            rv=rv+ '</td><td>'+prop+'</td><td>'+things[e.value][prop]+'</td>'
            //rv = rv + prop+":    <input type='text' id='"+prop+"' value = "+things[e.value][prop]+ "><br>";


            rv = rv +'</tr>'

        }
        rv = rv +'</table>'
        rv=rv+'<button type = "button" class = "editbutton" id = "addbutton" onclick="addprop()">Add Proprerty</button>';


        x.innerHTML =rv;


    }
    function edititem(thingindex,prop){
        things[thingindex][prop]= prompt("New Value");
        thingselected(document.getElementById('selectedthing'));
        //things['+e.value+'].'+prop+'= prompt()


    }
    function addprop(){
        var newprop = prompt("Enter Name of New Property")
        //var newval = prompt("Enter Value")
        things[document.getElementById('selectedthing').value][newprop]= prompt("Enter Value")
        thingselected(document.getElementById('selectedthing'));

    }
    function load() {
        things=<%-JSON.stringify(things)%>
                wsUri = "ws://" + window.location.hostname + ":8080";
        ws = new ReconnectingWebSocket(wsUri);
        ws.onopen = function(evt){
            console.log("websocket connected")
        };
        ws.onmessage = function(evt) {

            var x = JSON.parse(evt.data);
            if (x.object == "settings.things"){
                things = x.data;
                //new things object - do something?
                //  location.reload();

            }
        };

    }



    function websocketsend(type,data){

        var sendobj = {};
        sendobj.type = type;
        sendobj.data = data;
        ws.send(JSON.stringify(sendobj));

    }

</script>